{% extends 'admin/base.html' %}

{% block content %}
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">
                    {{ tool.title }}
                </h3>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="row">
            <div class="col-lg-6">
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                                <h3 class="m-portlet__head-text">
                                    {{ tool.title }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form" method="post" onsubmit="return dosubmit()" enctype="multipart/form-data">
                        <div class="m-portlet__body">
                            <div class="m-form__group form-group">
                                <div class="custom-file">
                                    {{ form.durl }}
                                    <label class="custom-file-label" for="customFile">
                                        选择需要绘图的数据文件
                                    </label>
                                    {% for error in form.durl.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="m-form__group form-group">
                                <div class="custom-file">
                                    {{ form.gurl }}
                                    <label class="custom-file-label" for="customFile">
                                        选择样本分组信息文件
                                    </label>
                                    {% for error in form.gurl.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="m-form__group form-group row">
                                <label class="col-form-label col-lg-6">输入需要作图的数据列名称：</label>
                                <div class="col-lg-6">{{ form.dcol }}</div>
                                {% for error in form.dcol.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="m-form__group form-group">
                                <div class="m-checkbox-list col-lg-8">
                                    <label class="control-form-label">{{ form.log.label }}：</label>
                                    <label class="m-checkbox m-checkbox--air" style="display: inline-block">
                                        {{ form.log }}
                                        &nbsp;
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="m-form__group form-group row">
                                <label class="col-form-label col-lg-6">输出图片标题：</label>
                                <div class="col-lg-6">{{ form.title }}</div>
                                {% for error in form.title.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="m-form__group form-group row">
                                <label class="col-form-label col-lg-6">输出图片横轴标签：</label>
                                <div class="col-lg-6">{{ form.xlab }}</div>
                                {% for error in form.xlab.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="m-form__group form-group row">
                                <label class="col-form-label col-lg-6">输出图片纵轴标签：</label>
                                <div class="col-lg-6">{{ form.ylab }}</div>
                                {% for error in form.ylab.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="m-form__group form-group row">
                                <label class="col-form-label col-lg-6">输入输出结果前缀：</label>
                                <div class="col-lg-6">{{ form.outpre }}</div>
                                {% for error in form.outpre.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit" style="text-align: center">
                            <div class="m-form__actions m-form__actions">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#m_modal_6">
                                    提交
                                </button>
                                <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle"
                                     aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                    任务即将加入执行队列
                                                </h5>
                                                <!--
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">
                                                        ×
                                                    </span>
                                                </button> -->
                                            </div>
                                            <!--
                                            <div class="modal-body">
                                                <p>

                                                </p>
                                            </div> -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    取消
                                                </button>
                                                {{ form.submit }}
                                                {{ form.csrf_token }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>


            <div class="col-lg-6">
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                                <h3 class="m-portlet__head-text">
                                    说明：
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-list-timeline">
                            <div class="m-list-timeline__items">
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    <a href="{{ url_for('admin.play_video_out',video_list_id=3, id=0) }}"
                                       target="_blank">一般输入输出说明</a>
                                </span>
                                </div>
 <!--                               <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    <a href="{{ url_for('admin.play_video_out',video_list_id=3, id=4) }}"
                                       target="_blank">当前工具使用说明</a>
                                </span>
                                </div> -->
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    绘图数据文件是以制表符分割的文本文件，必须有表头，每一列是一个样本
                                </span>
                                </div>
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    数据文件格式如下
                                </span>
                                </div>
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>A1</th>
                                                <th>A2</th>
                                                <th>B1</th>
                                                <th>B2</th>
                                                <th>C1</th>
                                                <th>C2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>699</td>
                                                <td>624</td>
                                                <td>1187</td>
                                                <td>1243</td>
                                                <td>679</td>
                                                <td>799</td>
                                            </tr>
                                            <tr>
                                                <td>700</td>
                                                <td>617</td>
                                                <td>1182</td>
                                                <td>1286</td>
                                                <td>770</td>
                                                <td>800</td>
                                            </tr>
                                            <tr>
                                                <td>660</td>
                                                <td>566</td>
                                                <td>1217</td>
                                                <td>1286</td>
                                                <td>680</td>
                                                <td>760</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    分组信息文件以制表符分割的文本文件，必须有表头，共有两列，第一列是分组信息，第二列是样本信息
                                </span>
                                </div>
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    分组信息文件格式如下：
                                </span>
                                </div>
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>group</th>
                                                <th>sample</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>A</td>
                                                <td>A1</td>
                                            </tr>
                                            <tr>
                                                <td>A</td>
                                                <td>A2</td>
                                            </tr>
                                            <tr>
                                                <td>B</td>
                                                <td>B1</td>
                                            </tr>
                                            <tr>
                                                <td>B</td>
                                                <td>B2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    作图的数据列名称以“，”分割，如果对全部数据作图则输入“all”</span>
                                </div>
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    输入文件名命名最好是字母、数字加下划线的组合，必须以tab键进行分隔列
                                </span>
                                </div>
                                <div class="m-list-timeline__item">
                                    <span class="m-list-timeline__badge"></span>
                                    <span class="m-list-timeline__text">
                                    输入文件输入格式为文本格式，后缀名可能为txt,xls(非excel格式)等，单个输入文件大小限制在10M以内
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>

{% endblock %}