.box .box-content a {
font-weight: 700;
}

.fa-5x {
font-size: 5em;
}
.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.zoom-container .zoom-caption p {
position: absolute;
bottom: 0;
left: 0;
right: 0;
text-align: center;
font-size: 20px;
font-weight: 700;
background: rgba(0,0,0,.5);
margin: 0;
padding: 10px;
}
.zoom-container img {
display: block;
width: 100%;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}

.zoom-container{
position:relative;
overflow:hidden;
font-size:1rem;
display: inline-block;
vertical-align:top;
-webkit-box-sizing:border-box;
}

.zoom-container .zoom-caption{
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
z-index:10;
transition:all .5s ease;
color:#fff;
}
.zoom-container a {
display: block;
position: absolute;
top: -100%;
opacity: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
color: inherit;
}

.zoom-container .zoom-caption span {
	background-color: #fd0005;
	position: absolute;
	top: 0;
	padding: 0 7px;
	font-weight: 700;
	font-size: 13px;
}
.zoom-container .zoom-caption p {
position: absolute;
bottom: 0;
left: 0;
right: 0;
text-align: center;
font-size: 20px;
font-weight: 700;
background: rgba(0,0,0,.5);
margin: 0;
padding: 10px;

}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.vid-name{
margin:0;
}
.vid-name a {
font-size: 19px;
color: #000;
}

a {
color: #337ab7;
text-decoration: none;
}

.btn-1 {
color: #f85a46;
 background-color: transparent;
padding: 0;
font-weight: 700;
}

.btn {
font-size: 15px;
border-radius: 5px;
padding: 5px 14px;
}
.btn {
display: inline-block;
padding: 6px 0px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
