<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>
        微分基因科技有限公司
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="{{ url_for('static', filename='default/assets/vendors/base/vendors.bundle.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ url_for('static', filename='default/assets/demo/default/base/style.bundle.css') }}" rel="stylesheet"
          type="text/css"/>
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/ma_x.ico') }}"/>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-login m-login--signin  m-login--5" id="m_login"
         style="background-image: url({{ url_for('static', filename='default/assets/app/media/img/bg/bg-3.jpg') }});">
        <div class="m-login__wrapper-1 m-portlet-full-height">
            <div class="m-login__wrapper-1-1">
                <div class="m-login__contanier">
                    <div class="m-login__content">
                        <div class="m-login__logo">
                            <a href="http://www.microanaly.com" target="_blank">
                                <img src="{{ url_for('static', filename='img/ma_logo.png') }}">
                            </a>
                        </div>
                        <div class="m-login__title">
                            <h3>
                                欢迎加入我们的团队
                            </h3>
                        </div>
                        <div class="m-login__desc">
                            不一样的团队
                        </div>
                        <div class="m-login__form-action">
                            <button type="button" id="m_login_signup" class="btn btn-outline-focus m-btn--pill">
                                注册
                            </button>
                        </div>
                    </div>
                </div>
                <div class="m-login__border">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="m-login__wrapper-2 m-portlet-full-height">
            <div class="m-login__contanier">


                <div class="m-login__signin">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            登陆账户
                        </h3>
                    </div>
                    <form class="m-login__form m-form" action="">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="请输入账号" name="username"
                                   autocomplete="off">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="Password" placeholder="请输入密码" name="password">
                        </div>
                        <div class="row m-login__form-sub">
                            <!-- <div class="col m--align-left">
                                <label class="m-checkbox m-checkbox--focus">
                                    <input type="checkbox" name="remember">
                                    Remember me
                                    <span></span>
                                </label>
                            </div> -->
                            <div class="col m--align-right">
                                <a href="javascript:;" id="m_login_forget_password" class="m-link">
                                    忘记密码？
                                </a>
                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_signin_submit"
                                    class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                登陆
                            </button>
                        </div>
                    </form>
                </div>
                <div class="m-login__signup">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            注册账户
                        </h3>
                        <div class="m-login__desc">
                            输入详细信息创建您的账户：
                        </div>
                    </div>
                    <form class="m-login__form m-form" action="">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="请输入昵称" name="fullname">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="请输入邮箱" name="email"
                                   autocomplete="off">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="password" placeholder="请输入密码" name="password">
                        </div>
                        <div class="form-group m-form__group">
                            <!-- <input class="form-control m-input m-login__form-input--last" type="password" placeholder="请确认密码" name="rpassword"> -->
                            <input class="form-control m-input" type="password" placeholder="请确认密码" name="rpassword">
                        </div>
                        <!-- <div class="m-login__form-sub">
                            <label class="m-checkbox m-checkbox--focus">
                                <input type="checkbox" name="agree">
                                I Agree the
                                <a href="#" class="m-link m-link--focus">
                                    terms and conditions
                                </a>
                                .
                                <span></span>
                            </label>
                            <span class="m-form__help"></span>
                        </div> -->
                        <div class="m-login__form-action">
                            <button id="m_login_signup_submit"
                                    class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                注册
                            </button>
                            <button id="m_login_signup_cancel"
                                    class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
                                取消
                            </button>
                        </div>
                    </form>
                </div>
                <div class="m-login__forget-password">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            忘记密码？
                        </h3>
                        <div class="m-login__desc">
                            请输入您的邮箱重置密码
                        </div>
                    </div>
                    <form class="m-login__form m-form" action="">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="请输入邮箱" name="email"
                                   id="m_email" autocomplete="off">
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_forget_password_submit"
                                    class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                重置
                            </button>
                            <button id="m_login_forget_password_cancel"
                                    class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom ">
                                取消
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Page -->
<!--begin::Base Scripts -->
<script src="{{ url_for('static', filename='default/assets/vendors/base/vendors.bundle.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('static', filename='default/assets/demo/default/base/scripts.bundle.js') }}"
        type="text/javascript"></script>
<!--end::Base Scripts -->
<!--begin::Page Snippets -->
<script src="{{ url_for('static', filename='default/assets/snippets/custom/pages/user/login.js') }}"
        type="text/javascript"></script>
<!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>
