{% extends 'admin/base.html' %}
{% import "admin/page.html" as pg %}

{% block content %}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">
                主页
            </h3>
        </div>
        <!-- <div>
                    <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                        <span class="m-subheader__daterange-label">
                            <span class="m-subheader__daterange-title"></span>
                            <span class="m-subheader__daterange-date m--font-brand"></span>
                        </span>
                        <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                            <i class="la la-angle-down"></i>
                        </a>
                    </span>
                </div> -->
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <!--Begin::Section-->
    <div class="row">
        <div class="col-lg-12">
            <!--Begin::Portlet-->
            <div class="m-portlet m-portlet--mobile m-portlet--sortable">
                <div class="m-portlet__head ui-sortable-handle">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="la la-files-o"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                我的任务
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--error m-datatable--loaded">
                        <table class="table table-border table-striped table-hover m-table" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th data-field="id">#</th>
                                    <th data-field="uuid">任务编号</th>
                                    <th data-field="title">工具具名称</th>
                                    <th data-field="starttime">提交时间</th>
                                    <th data-field="status">任务状态</th>
                                    <th data-field="result">查看结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for v in page_data.items %}
                                <tr>
                                    <!-- <td data-field="id">{{ v.id }}</td> -->
                                    <td data-field="uuid">{{ v.taskid }}</td>
                                    <td data-field="title">{{ v.title}}</td>
                                    <td data-field="starttime">{{ v.addtime }}</td>
                                    <td data-field="status">{{ v.status }}</td>
                                    {% if v.status == "已完成" %}
                                    <td data-field="result">
                                        <a href="{{ url_for('admin.download', filename=v.resulturl) }}" target="_blank" class="btn btn-success m-btn m-btn--icon m-btn--icon-only">
                                            <i class="fa fa-download"></i></a></td>
                                    {% else %}
                                    <td data-field="result">
                                        <a href="#" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only disabled">
                                            <i class="fa fa-download"></i></a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="m-datatable__pager m-datatable--paging-loaded clearfix" style="margin: auto;text-align: center">
                            {{ pg.page(page_data, 'admin.index')}}
                        </div>
                    </div>
                </div>
            </div>
            <!--End::Portlet-->
        </div>
    </div>
    <!--End::Section-->
</div>
{% endblock %}