{% extends 'admin/base.html' %}

{% block content %}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">
                生信部
            </h3>
        </div>
        <!-- <div>
                <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                    <span class="m-subheader__daterange-label">
                        <span class="m-subheader__daterange-title"></span>
                        <span class="m-subheader__daterange-date m--font-brand"></span>
                    </span>
                    <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                        <i class="la la-angle-down"></i>
                    </a>
                </span>
            </div> -->
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <!--Begin::Section-->
    <div class="m-portlet ">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <!--begin::Total Profit-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                <a href="{{ url_for('admin.runtool') }}">fq转fa工具</a>
                            </h4>
                            <a href="{{ url_for('admin.runtool') }}"><img src="{{ url_for('static', filename='img/tool1.png') }}"
                                    alt=""></a>
                            <br>
                            <span class="m-widget24__desc">
                                将fastq格式转换成fasta格式
                            </span>

                            <div class="m--space-30"></div>
                        </div>
                    </div>
                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <!--begin::Total Profit-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                <a href="{{ url_for('admin.runtool') }}">fq转fa工具</a>
                            </h4>
                            <a href="{{ url_for('admin.runtool') }}"><img src="{{ url_for('static', filename='img/tool1.png') }}"
                                    alt=""></a>
                            <br>
                            <span class="m-widget24__desc">
                                将fastq格式转换成fasta格式
                            </span>

                            <div class="m--space-30"></div>
                        </div>
                    </div>
                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <!--begin::Total Profit-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                <a href="{{ url_for('admin.runtool') }}">fq转fa工具富集测试</a>
                            </h4>
                            <a href="{{ url_for('admin.runtool') }}"><img src="{{ url_for('static', filename='img/tool1.png') }}"
                                    alt=""></a>
                            <br>
                            <span class="m-widget24__desc">
                                将fastq格式转换成fasta格式，富集分析测试看看
                            </span>

                            <div class="m--space-30"></div>
                        </div>
                    </div>
                    <!--end::Total Profit-->
                </div>
            </div>

            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <!--begin::Total Profit-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                <a href="{{ url_for('admin.runtool') }}">fq转fa工具</a>
                            </h4>
                            <a href="{{ url_for('admin.runtool') }}"><img src="{{ url_for('static', filename='img/tool1.png') }}"
                                    alt=""></a>
                            <br>
                            <span class="m-widget24__desc">
                                将fastq格式转换成fasta格式
                            </span>

                            <div class="m--space-30"></div>
                        </div>
                    </div>
                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <!--begin::Total Profit-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                <a href="{{ url_for('admin.runtool') }}">fq转fa工具</a>
                            </h4>
                            <a href="{{ url_for('admin.runtool') }}"><img src="{{ url_for('static', filename='img/tool1.png') }}"
                                    alt=""></a>
                            <br>
                            <span class="m-widget24__desc">
                                将fastq格式转换成fasta格式
                            </span>

                            <div class="m--space-30"></div>
                        </div>
                    </div>
                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <!--begin::Total Profit-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                <a href="{{ url_for('admin.runtool') }}">fq转fa工具富集测试</a>
                            </h4>
                            <a href="{{ url_for('admin.runtool') }}"><img src="{{ url_for('static', filename='img/tool1.png') }}"
                                    alt=""></a>
                            <br>
                            <span class="m-widget24__desc">
                                将fastq格式转换成fasta格式，富集分析测试看看
                            </span>

                            <div class="m--space-30"></div>
                        </div>
                    </div>
                    <!--end::Total Profit-->
                </div>
            </div>
        </div>
    </div>
    <!--End::Section-->

</div>
{% endblock%}